{block content}
{*<h1 n:block=title>Page Not Found</h1>*}
<h1 n:block=title>Stránka Nenalezena</h1>

{*<p>The page you requested could not be found. It is possible that the address is
incorrect, or that the page no longer exists. Please use a search engine to find
what you are looking for.</p>*}
<p>Požadovaná stránka nebyla nalezena. Je možné, že zadaná adresa je špatná,
nebo že hledaná stránka již neexistuje.</p>

{*<p><small>error 404</small></p>*}
<p><small>chyba 404</small></p>
